@import "../utilities";

footer {
    text-align: center;
    background: #222222;

    nav {
        text-align: center;
        padding: 0.5em 0;

        ul {
            display: flex;
            justify-content: center;

            li {
                &::marker {
                    content: "";
                }

                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: $blanc;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.footer2 {
    text-align: center;
    background: $noir;
    color: #858f8a;
    height: 40px;
    line-height: 40px;
    font-size: 11px;

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: #858f8a;
    }
}
