@import "../utilities";

.intro {
  margin: 20px auto 30px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #888888;
  text-align: center;
  width: 985px;
  min-height: 330px;
  max-height: 360px;
  overflow: hidden;
  h2 {
    font-style: normal;
    margin: 0 0 30px;
    padding-bottom: 8px;
    font-size: 31px;
    line-height: 64px;
    color: $bleufonce;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    &::after {
        display: block;
        content: "";
        width: 50px;
        height: 3px;
        background-color: $grisbar;
        position: absolute;
        bottom: 2px;
        left: 50%;
        margin-left: -25px;
    
    }
  }
  .slideatomeco {
    display: flex;

    .champ-image {
      max-width: 490px;
      img{
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    .col-droite {
      background: $grisclair;
      min-height: 189px;
      text-align: left;
      max-width: 495px;

      .champ-titre {
        h3 {
          font-size: 15px;
        }

        margin: 0;
        margin-left: 15px;
        line-height: 16px;
        margin-bottom: 0em;
        a {
          color: $bleufonce;
          text-decoration: none;
        }
      }

      .champ-texte {
        margin: 0px;
        color: $noirpolice;
        margin: 0 5px 15px;
        margin-left: 15px;
      }

      .champ-chemin {
        text-align: right;

        a {
          border: 2px solid $grisclair;
          padding: 5px 12px;
          color: #888888;
          line-height: 32px;
          font-size: 13px;
          font-family: 'Open Sans', arial, sans-serif;
          text-decoration: none;
          @include transition(background, 0.2s, ease-out)
          &:hover {
            color: $blanc;
            background: #214593;

          }
        }
      }

      .champ-thematiques {
       
          font-size: 12px;
          line-height: 12px;
          text-align: center;
          clear: both;
          color: #888888;
          margin: 0;
          padding: 0 20px 10px;
          & > div {
            display: inline-block;
            a {
              color: $grispolice;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          
        }
  
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin: auto;
    li {
      &::marker {
        content: "";
      }

      &:after {
        padding-top: 5px;
        font: normal normal normal 12px/1 FontAwesomeRegular;
        text-rendering: auto;
        color: #888888;

        -webkit-font-smoothing: antialiased;
        content: "\f111";
        margin-left: -29px;
      }
      button {
        display: none;
      }

      &.slick-active {
        &:after {
          font: normal normal normal 12px/1 FontAwesome;
          content: "\f111";
        }
      }
    }
  }
}
