@import "utilities";

@font-face {
  font-family: "NovecentowideLightBold";
  src: url("../fonts/Novecentowide-DemiBold-webfont.eot");
  src:
    url("../fonts/Novecentowide-DemiBold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Novecentowide-DemiBold-webfont.woff") format("woff"),
    url("../fonts/Novecentowide-DemiBold-webfont.ttf") format("truetype"),
    url("../fonts/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/webfonts/fa-solid-900.eot");
  src:
    url("../fonts/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("../fonts/webfonts/fa-solid-900.woff") format("woff"),
    url("../fonts/webfonts/fa-solid-900.ttf") format("truetype"),
    url("../fonts/webfonts/fa-solid-900.svg#FontAwesome5Free-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FontAwesomeRegular";
  src: url("../fonts/webfonts/fa-regular-400.eot");
  src:
    url("../fonts/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
    url("../fonts/webfonts/fa-regular-400.woff") format("woff"),
    url("../fonts/webfonts/fa-regular-400.ttf") format("truetype"),
    url("../fonts/webfonts/fa-regular-400.svg#FontAwesome5Free-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.layout-container {
  font: 14px/25px "Open Sans", arial, sans-serif;
  color: $noirpolice;
}

main {
  padding-top: 1.5em;
}

/*Bloc Notes Accueil*/


#block-atomeco-views-block-contenus-block-5,
#block-atomeco-views-block-contenus-block-4,
#block-atomeco-views-block-contenus-block-2,
#block-atomeco-views-block-contenus-block-3 {
  h2 {
    font-size: 17px;
    line-height: 22x;
    margin: 0 0 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    letter-spacing: 2px;
    &:after {
      display: block;
      content: "";
      width: 80px;
      height: 3px;
      background-color: $grisbar;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -40px;
    }
  }
  .slick .slick-slide,
  .slick > .slide {
    width: 332px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    @include border-radius(4px);
    @include box-shadow(0px, 1px, 3px, rgba(0, 0, 0, 0.12));
    background: #fff;
    text-align: center;
    h3 {
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 13px;
      text-align: center;
      text-transform: UPPERCASE;
      letter-spacing: 0px;
      padding: 0;
      a {
        text-align: center;
        text-decoration: none;
        color: #2f2f2f;
      }
    }
    .views-field-title {
      margin: 1em 10px;
    }
    .views-field-field-thematiques {
      padding: 0 20px 24px;
    }
    @include transition(background, 0.5s, ease-out);
    &:hover {
      background: $grisclair;
      -webkit-filter: saturate(1.3);
      filter: saturate(1.3);
      .views-field-title,
      .groupe1 h3 {
        a {
          color: $bleufonce;
          @include transition(color, 0.3s, ease-out);
        }
      }
    }
  }
  .slick {
    position: relative;
    .slick__arrow .slick-next,
    .slick__arrow .slick-prev {
      display: block;
      width: 27px;
      height: 27px;
      background-image: url("../images/arrows.png");
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0px solid #ccc;
      background-color: transparent;
    }
    .slick__arrow .slick-next.slick-disabled,
    .slick__arrow .slick-prev.slick-disabled {
      display: none !important;
    }
    .slick__arrow .slick-prev {
      position: absolute;
      top: -40px;
      right: 22px;
      background-position: 0 0;
    }
    .slick__arrow .slick-prev:hover {
      background-position: -32px 0;
    }
    .slick__arrow .slick-prev:active {
      background-position: -64px 0;
    }
    .slick__arrow .slick-next {
      position: absolute;
      top: -40px;
      right: -11px;
      background-position: 0 -32px;
    }
    .slick__arrow .slick-next:hover {
      background-position: -32px -32px;
    }
    .slick__arrow .slick-next:active {
      background-position: -64px -32px;
    }
  }
  .champ-image-actu img,
  .views-field-field-image img {
    max-width: 100%;
    height: auto;
    margin:auto;
  }
}

/*Bloc actus accueil*/
.section_3 {
  // @extend .section !optional;
  background: $blanc!important;
  #block-atomeco-views-block-contenus-block-4 {
    .slick .slick-slide {
      h3 {
        text-align: left;
      }
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

/*Page vue NOTEs*/
.pages-notes,
.page-actualites,
.page-taxonomy {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  header {
    flex-basis: 100%;
  }
  .views-row {
    min-height: 350px;
    width: 45%;
    width: 332px;
    padding-bottom: 20px;
    @include border-radius(4px);
    @include box-shadow(0px, 1px, 3px, rgba(0, 0, 0, 0.12));
    background: #fff;
    h3 {
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 13px;
      text-transform: UPPERCASE;
      letter-spacing: 0px;
      padding: 0;
      a {
        text-decoration: none;
        color: #2f2f2f;
      }
    }
    .views-field-title {
      margin: 1em 15px;
    }
    .views-field-field-date,
    .views-field-field-membres-contributeurs,
    .views-field-field-thematiques {
      text-align: left;
    }
    @include transition(background, 0.5s, ease-out);
    &:hover {
      background: $grisclair;
      -webkit-filter: saturate(1.3);
      filter: saturate(1.3);
      .views-field-title,
      .groupe1 h3 {
        a {
          color: $bleufonce;
          @include transition(color, 0.3s, ease-out);
        }
      }
    }
    .views-field-field-image img,
    .champ-image-actu img {
      max-width: 100%;
      height: auto;
    }
  }
}

/*EXPOSED BLOCS*/
.page-actualites {
  .views-row {
    .views-field-field-thematiques {
      padding: 0;
    }
  }
}

body.les-notes,
body.actualites {
  main .layout-content {
    .type-actu {
      text-align: left;
      margin: 0;
      padding: 0;
      &::before {
        display: inline-block;
        line-height: 45px;
        margin-left: 0;
        margin-right: 5px;
        padding-top: 5px;
        border-right: 1px $blanc solid;
        font: normal normal normal 12px / 1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f02b";
      }
    }
    flex-basis: 70%;
  }
  aside {
    flex-basis: 30%;
  }
}

#block-atomeco-formulaireexposecontenuspage-1,
#block-atomeco-formulaireexposecontenuspage-1-2,
#block-atomeco-formulaireexposecontenuspage-2 {
  h2 {
    color: $blanc;
    text-transform: uppercase;
    font: 17px/44px "Open Sans", arial, sans-serif;
    width: 250px;
    height: 45px;
    background: #2184e1;
    padding-bottom: 0;
    letter-spacing: 0;
    margin-bottom: 0;
    &:after {
      display: none;
    }
    &:before {
      display: inline-block;
      line-height: 45px;
      margin-left: -12px;
      margin-right: 12px;
      padding: 12px;
      border-right: 1px #fff solid;
      font: normal normal normal 21px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f002";
    }
  }

  #views-exposed-form-contenus-page-1,
  #views-exposed-form-contenus-page-2 {
    background: $bleufonce;
    padding: 10px;

    .form-item {
      float: none;
      padding: 0;
      width: 218px;
      margin: 0 auto 3px;
      label {
        font: 16px/32px "Open Sans", arial, sans-serif;
        color: $blanc;
        text-transform: uppercase;
        display: block;
      }
      &.views-submit-button {
        width: 121px;
        input[type="submit"] {
          margin-left: auto;
        }
      }
    }

    .chosen-container,
    .form-type-textfield {
      width: 218px !important;
      min-height: 27px;
      font-size: 13px;
      input {
        border: 0px solid #aaa;
        color: #999;
      }
    }
    .form-type-textfield {
      input {
        padding: 6px 0;
        border-radius: 2px;
        &:focus-visible {
          outline: none;
        }
      }
    }

    .form-actions {
      text-align: center;
      margin: 0 auto 3px;
      input[type="submit"] {
        color: $blanc;
        text-transform: uppercase;
        font: 17px/17px "Open Sans", arial, sans-serif;
        background: $bleucyan;
        margin-top: 15px;
        width: 121px;
        height: 43px;
        border: 1px solid #fff;
        &:hover {
          background: #0a89ff;
          @include transition(background, 0.2s, ease-out);
        }
      }
    }
  }

  #views-exposed-form-contenus-page-2 {
    .chosen-container,
    .form-type-textfield {
      max-width: 520px !important;
      min-width: 218px !important;
    }
  }
}

#block-atomeco-formulaireexposecontenuspage-1-2 {
  float: none;
  width: 100%;
  padding-bottom: 3em;

  h2 {
    &:before {
      margin-left: 0;
    }
  }

  #views-exposed-form-contenus-page-1 {
    display: flex;
    .form-item {
      padding: 0 1em .5em 0;
      input[type="submit"] {
        margin-left: 2em;
      }
    }
  }
}

/*Page taxonomy*/
body.page-no-node main .layout-content .page-taxonomy {
  .type-actu {
    text-align: left;
    &::before {
      display: inline-block;
      line-height: 45px;
      margin-left: 0;
      padding-top: 5px;
      border-right: 1px $blanc solid;
      font: normal normal normal 12px / 1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f02b";
    }
  }
  nav.pager {
    flex-basis: 100%;
    ul {
      display: flex;
      gap: 1rem;
      list-style-type: none;
      justify-content: center;
      li {
        &.is-active {
          font-weight: bold;
        }
        a {
          color: $bleufonce;
          text-decoration: none;
        }
      }
    }
  }
}


/*User Login*/

#user-login-form {
  display: flex  ;
      flex-direction: column;
      gap: 1rem;
margin: 1rem 0;
      .form-item {
        display: flex        ;
            flex-direction: column;
            width: 250px;
            label {

                font-weight: 600;
            }
            input {
              min-height: 27px;
  font-size: 13px;
  border: 1px solid #aaa;
    padding: 5px;
    border-radius: 2px;
    &:focus-visible {
      outline: none;
    }
            }
      }
}

