@import "utilities";
@font-face {
    font-family: "NovecentowideLightBold";
    src: url("../fonts/Novecentowide-DemiBold-webfont.eot");
    src:
      url("../fonts/Novecentowide-DemiBold-webfont.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Novecentowide-DemiBold-webfont.woff") format("woff"),
      url("../fonts/Novecentowide-DemiBold-webfont.ttf") format("truetype"),
      url("../fonts/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold") format("svg");
    font-weight: normal;
    font-style: normal;
  }
.ck-content {

    ol li,
    ul li {
        margin-bottom: 1em;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $noirpolice;
        font-family: "NovecentowideLightBold", arial, serif;
        font-weight: normal;
        /*font-family: Novecentosanswide-Normal;*/
        font-weight: 500;
    }
    h1 {
        font-size: 1.7em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        color: $bleufonce;
        line-height: 1.5;
        font-size: 1em;
    }
    
    h2 {
        font-size: 17px;
        line-height: 22x;
        margin: 0 0 20px;
        padding-bottom: 20px;
        text-align: center;
        position: relative;
        letter-spacing: 2px;
    
        &:after {
            display: block;
            content: "";
            width: 80px;
            height: 3px;
            background-color: $grisbar;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -40px;
        }
    }
h4 {
    font-size: 14px;
}

    .blazy--field-media-image--default {
        padding: 3px;
        margin: 0 20px 1.5em;
        border: 1px #eeeff1 solid;
        border-radius: 3px;
    
    }
    
    hr {
        display: block;
        clear: both;
        margin: 2.5em auto !important;
        width: 40%;
        height: 1px!important;
    }
    .ck-horizontal-line {
        display:block!important;
        clear: both;
    }

}