@import "../utilities";

#section1 {
    border-top: 22px solid $bleufonce;
}

main,
.help,
#entete, 
.intro, 
#section_3, 
.titre, 
#contenusassos, 
.region-bottom, 
#block-atomeco-views-block-contenus-block-5, 
#block-atomeco-views-block-contenus-block-4,
#block-atomeco-views-block-contenus-block-2,
#block-atomeco-views-block-contenus-block-3,
#block-atomeco-formulaireexposecontenuspage-1-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    text-align: justify;
}

.section_2, .section_3 {
    // @extend .section!optional;
}

.text-center {
    text-align: center;
}

main {
    display: flex;
    margin-bottom: 3em;

    .layout-content {
        flex-basis: 100%;
    }
}