.views-element-container h2 { font-size: 14px; font-size: .875rem; font-weight: 400; color: #fff; padding: 10px 0; margin-bottom: 0; text-transform: uppercase; overflow: hidden; }

.views-element-container h2 span { padding: 10px; background: #cf1322; }

aside .views-element-container > div:last-child { padding: 20px; border: 3px solid #efefef; }

.layout-content .views-element-container > div:last-child { padding: 20px 0; border-top: 3px solid #efefef; }

.layout-content .views-element-container > div:last-child .views-field-title a { font-size: 1.5rem; }
